<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <title>Register</title>
    <style>
        #name-error {
            display: none;
        }
        
        .pass-div {
            position: relative;
        }
        
        #show-pass {
            position: absolute;
            bottom: 5px;
            right: 20px;
            color: black;
            cursor: pointer;
        }
    </style>
</head>

<body>


    <main class="p-3 p-sm-5">
        <br>
        <br>
        <br>
        <div class="login rounded text-light" style="background-color: rgb(166, 187, 154);">
            <br>
            <h2 class="heading mb-3 d-flex align-itmes-center justify-content-between"><a href="{% url 'home' %}" class='btn btn-dark  d-flex align-items-center' style="background-color: #e7f0fe;"><i class='bx bx-arrow-back me-2' style="color: black;" ></i></a>Register</h2>
            <div class="alert " role="alert" id="name-error">
            </div>
            <form method="post" action="{% url 'saveuser' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">UserName</label> <small class="text-danger float-end" id="lenght-error"></small>
                    <input type="text" class="form-control" autocomplete="off" id="username" name="username" onkeyup="checkName(this.value)">

                </div>
                <div class="mb-3">
                    <label for="fname" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fname" name="realname">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="emailid">

                </div>
                <div class="mb-3 pass-div">
                    <label for="pass" class="form-label">Password</label><span id="show-pass"><i class='bx bx-show ' id="eye" onclick="showpass()"></i></span>
                    <input type="password" class="form-control" id="pass" name="password">
                </div>

                <center><button type="submit" class="btn btn-success " disabled id="r-btn" style="background-color: rgb(42, 129, 101);">Register</button></center>
                <br>
                <center><span class="ms-3">Already Register ? <a href="{% url 'login' %}" class="btn btn-secondary btn-sm ms-2">Login</a></span></center>
            </form>
            <br>
        </div>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    </script>
</body>

</html>